$backgroundColorRed: #C8102E;
$backgroundColorWhite: #F0F0F0;
$mainTextColor: #373434;
$secondaryTextColor: #878585;
$headerAndFooterTextColor: #ffffff;
$boxShadowColor: #c1c0c0;

$cardWidth: 90%;
$maxCardWidth: 320px;
$cardHeight: 120px;

$padding_s: 12px;
$padding: 16px;
$padding_l: 20px;

$fontLight: 300;
$fontNormal: 400;
$fontBold: 700;
