@import '../../utils/styles/variables';
@import '../../utils/styles/mixins';

.body {
  position: absolute;
  top: -350px;
  right: -10px;
  // z-index: 1;

  padding: $padding_l $padding_s $padding_s;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 1px 4px $boxShadowColor;
  background-color: $backgroundColorRed;

  transition: all .5s;
}

.body_is_open {
  top: -22px;
}

.icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  
  font-size: 16px;
  color: $backgroundColorWhite;

  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    cursor: pointer;
  }
}