@import '../../utils/styles/variables';
@import '../../utils/styles/mixins';

.body {
  position: sticky;
  top: 0;
  z-index: 2;

  color: $headerAndFooterTextColor;
  background-color: $backgroundColorRed;
  padding: $padding_s $padding_l;
  
  box-shadow: 0 2px 12px $boxShadowColor;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: min-content;
}

.services {
  display: flex;
  gap: 32px;
  align-items: center;
}