@import '../../utils/styles/variables';
@import '../../utils/styles/mixins';

.body {
  position: relative;

}

.header {
  position: sticky;
  top: 0;
  z-index: 3;

  color: $headerAndFooterTextColor;
  background-color: $backgroundColorRed;
  padding: $padding_s $padding_l;
  
  box-shadow: 0 2px 12px $boxShadowColor;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $backgroundColorRed;
}

.logo {
  width: min-content;
}

.services {
  display: flex;
  gap: 32px;
  align-items: center;
}

.filters {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 3;
  
  height: 0px;
  transition: all 1s;
  overflow: hidden;

  border: none;
  background-color: $backgroundColorRed;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 4px 4px $boxShadowColor;
}

.filters_is_open {
  height: 200px;
}