@import "../../../utils/styles/variables";

.flag {
  width: $languageIconSize;
  height: $languageIconSize;
  border: 1px solid #fff;
  border-radius: 50%;
}

.g {
  stroke: none;
  stroke-width: 0;
  stroke-dasharray: none;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 10;
  fill: none;
  fill-rule: nonzero;
  opacity: 1;
}

.p {
  &_1 {
    stroke: none;
    stroke-width: 1;
    stroke-dasharray: none;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 10;
    fill: rgb(243,24,48);
    fill-rule: nonzero;
    opacity: 1;
  }

  &_2 {
    stroke: none;
    stroke-width: 1;
    stroke-dasharray: none;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 10;
    fill: rgb(0,38,127);
    fill-rule: nonzero;
    opacity: 1;
  }

  &_3 {
    stroke: none;
    stroke-width: 1;
    stroke-dasharray: none;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 10;
    fill: rgb(243,244,245);
    fill-rule: nonzero;
    opacity: 1;
  }
}